a {
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #333a3e;
  text-decoration: none;
}

a:hover {
	color: #eee;
}

h1 {
  line-height: .5em;
}

#github_icon {
  height: 25px;
}

#docx_icon {
  height: 32px;
}

#twitter_icon {
  height: 30px;
}

#profile {
  line-height: .25em;
}

#profile p {
  overflow: scroll;
}

.hidden {
  display: none;
}

#photo_slide {
  display: inline-block;
}

#photo_slide a:hover {
  color: gray;
}

#dayhug_header {
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
  box-shadow: 3px 3px 1px #ccc;
}

.dayhug_title {
  line-height: .25em;
}

.dayhug_title a {
  color: yellow;
}

.dayhug_title a:hover {
  color: white;
}

@media only screen and (max-width: 760px) {
  body {
    font-size: .90em;
  }
  title {
    font-size: .75em;
  }
  #main-img {
    width: 75%;
  }
}

@media only screen and (max-width: 420px) {
  body {
    font-size: .75em;
  }
  title {
    font-size: .5em;
  }
  #main-img {
    width: 50%;
  }
}