a {
  font-family: BrandonText-Regular, Futura, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #333a3e;
  text-decoration: none;
}

a:hover {
	color: #eee;
}

h1 {
  line-height: .5em;
}

#github_icon {
  height: 25px;
}

#docx_icon {
  height: 32px;
}

#twitter_icon {
  height: 30px;
}

#profile {
  line-height: .25em;
}

#profile p {
  overflow: scroll;
}

.hidden {
  display: none;
}

#photo_slide {
  display: inline-block;
}

#photo_slide a:hover {
  color: grey;
}